<%- include('./partials/head.ejs') %>

<h4>Welcome <%= username %></h4>
	<form action="/logout?_method=DELETE" method="POST">
		<button type="submit">Logout</button>
	</form>

<a href="/login">Login</a>
<a href="/register">Sign Up</a>

<%- include('./partials/footer.ejs') %>
