<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>

  <body>
    <h4>Welcome <%= username %></h4>

    <!-- <a href="/login">Login</a>
    <a href="/register">Sign Up</a> -->
  </body>
</html>
